<!-- Resources -->
<h2>Recursos</h2>
<p>Estan las secciones para ver información sobre Rick y Morty:</p>

<div class="card-container">
    <div class="row">

        <div class="col-md-12 col-lg-4">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/episodios.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Episodios</h5>
                    <p class="card-text">Podrá revisar la información de los episodios.</p>
                    <a [routerLink]="['episodes']" class="btn btn-primary">Review</a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-md-12 col-lg-4">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/caracteres.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Characters <span>Incoming!</span></h5>
                    <p class="card-text">Podrá revisar la información de todas los caracteres.</p>
                    <a href="#" class="btn btn-primary">Review</a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-md-12 col-lg-4">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/ubicaciones.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">UBICACIONES <span>Incoming!</span></h5>
                    <p class="card-text">Podrá revisar la información de todas las ubicaciones.</p>
                    <a href="#" class="btn btn-primary">Review</a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>